{% extends "Content/Base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<title>{{title}}</title>
{% load widget_tweaks %}
<br>
<br> 

<div class = "mt-5 d-flex row justify-content-center">
    <div class="container-xxl row justify-content-center">
    <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create BS News Report</legend>
            {{ form.as_p }}
            </fieldset>
            <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Send</button>
            </div>
        </form>
    
        </div>
     </div>
    </div>
</div>

</body>
{% endblock content %}