{% extends "Content/Base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<title>{{title}}</title>
{% load widget_tweaks %}


<div class="container">
    <div class="form-group">
      <title>{{form}}</title>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
             {% render_field form.username class="form-control" placeholder="userame" type="text" %}
             {% render_field form.email type="text" class="form-control" placeholder="email" %}
             {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword" placeholder="Password" %}
             {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" %}
            {% if form.errors %}
                <div class="error">
                    <p>Please correct the errors below:</p>
                    <ul>
                        {% for error in form.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button type="submit" class="btn">Submit Form</button>
        </form>

  </div>

{% block content %}