{% extends "Content/Base.html" %}
{% block content %}
<br>
<br>
<br>
<h3 class="text-primary-emphasis row justify-content-center">The Latest BS News Content on Demand</h3>
<p class='text-muted text-primary-emphasis row justify-content-center'>
    This web-app is where creatives and contributors can access theit own on demand news  
   service here at Breaking Sheffield's News Online, just submit your report here and when 
   it's approved by the BS IT Administrator it will appear on the public web site.
</p>
{% endblock %}