{% extends "Content/Base.html" %}
{% block content %}
  <h1>BS News Report</h1>
  <table class="table table-striped">
 
      <tr>
        <td>Headline</td>
        <td>{{ report.headline }}</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>{{ report.content }}</td>
      </tr>
      <tr>
        <td>Photo</td>
        <td>{{ report.photo }}</td>
      </tr>
      <tr>
        <td>Date of BS News Report</td>
        <td>{{ report.todaysdate }}</td>  
        {{ report.slug }} {{ report.is_approved }}
      </tr>
  
  </table>
{% endblock content %}