{% extends "Content/Base.html" %}
{% block content %}
<br>
<div class="row justify-content-center">
<div class="container">
<h1>The BS News Official Reporting Policies</h1>

<h5>Respect Privacy and Dignity:</h5>  

<p>
 Always respect the privacy and dignity of individuals when reporting on local news. Avoid sharing personal 
 information or details that could harm or embarrass others unless it is essential to the public interest.
</p>

<h5>Be Truthful and Accurate:</h5>  

<p>
Strive to ensure that all factual information is reported accurately and truthfully. Double-check details before 
publishing whenever possible.
</p>

<h5>Avoid Harmful Content:</h5>  

<p>
Do not submit content that is hateful, discriminatory, or incites violence. Content should be suitable for a 
diverse audience and should not promote harm against any group or individual.
</p>

<h5>Disclose Conflicts of Interest:</h5>  

<p>
If you have any personal or financial interest in the story you are reporting, clearly disclose this in your 
submission to maintain transparency.
</p>

<h2>Hearsay, Rumour, and Speculation are Welcome:</h2>  

<p>
We recognize that local news often starts as hearsay, rumour, or speculation. Sharing such information 
is 100% OK on our platform, as long as it is clearly identified as such where possible.  As long as you
say that a local resident told you it then should be fine!
</p>
</div>
</div>
{% endblock %}

